.panel-logo{
    height: 60px;
    width: 220px;
    background-image: url(images/logo_swiggy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.panel-login :hover{
    color: #fc8019;
}

.locate img{
    height: 14px;
    width: 14px;
}

.food{
    background-color: #fc8019;
}

.food_swiggy{
    background-image: url(images/food_swiggy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search :hover{
    border: 1px solid #fc8019;
    box-shadow: white;
}

.cities_anchor{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #686b78;
}
